go 1.25.4

use (
	./packages/cache
	./packages/mail
	./packages/vfs
	./server
)

replace (
	github.com/sudosylabs/proctor/packages/cache v0.0.0-20260726111247-11f8bdd6cebe => ./packages/cache
	github.com/sudosylabs/proctor/packages/mail v0.0.0-20260726114928-8a166a08b663 => ./packages/mail
	github.com/sudosylabs/proctor/packages/vfs v0.0.0-20260726110112-233c3e43a771 => ./packages/vfs
)
